* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    font-family: "Bebas Neue";
    line-height: 1.6;
}
.nameHeader{
    position: absolute;

    left: 8vh;
    top: 10px;
}
.containerHeader{

    display: flex;
    position: absolute;
    width: 100%;
    height: 8vh;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    background: rgb(5, 6, 45);
    color: white;

}
.listaEncapsulada{
    display: flex;
    gap: 13px;
    list-style-type: none;
    text-decoration: none;
    position: absolute;
    right: 30px;
    color: white;
    box-shadow: rgba(151, 65, 252, 0.2) 15px 15px -10px -5px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    padding-left: 10px;
    padding-right: 10px;
}
.listaEncapsulada li {
    display: flex;
    width: 130px;
    justify-content: center;
    align-items: center;
    height: 8vh;
    gap: 10px;
    background: rgb(5, 6, 45);

}
.listaEncapsulada  a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: aliceblue;
    width: 130px;
    height: 8vh;
    padding: 10px;
    font-family: "Bebas Neue";
  font-weight: 100;
  font-style:italic;
  letter-spacing: 1.5px;

}
.listaEncapsulada li:hover, a:hover{
    background-color: azure;
    color: black;
}
.listaEncapsulada a {
    font-size: 20px;
}
.ContainerSection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    top: 150px;
}
.Topic{
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 35px;

}
.Topic h1{
    font-family: "Anton";
  font-weight: 900;
  font-style: normal;
}
.containerProjects div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.containerProjects {
    display: flex;
    flex-direction:row;
    align-items: center;
    position: relative;
    top: 150px;

    justify-content:space-around;
    gap: 50px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.nameHeader{
    position: absolute;

    left: 8vh;
    top: 10px;
}
.containerHeader{

    display: flex;
    position: absolute;
    width: 100%;
    height: 8vh;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    background: rgb(5, 6, 45);
    color: white;

}
.listaEncapsulada{
    display: flex;
    gap: 13px;
    list-style-type: none;
    text-decoration: none;
    position: absolute;
    right: 30px;
    color: white;
    box-shadow: rgba(151, 65, 252, 0.2) 15px 15px -10px -5px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    padding-left: 10px;
    padding-right: 10px;
}
.listaEncapsulada li {
    display: flex;
    width: 130px;
    justify-content: center;
    align-items: center;
    height: 8vh;
    gap: 10px;
    background: rgb(5, 6, 45);

}
.listaEncapsulada  a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: aliceblue;
    width: 130px;
    height: 8vh;
    padding: 10px;
    font-family: "Bebas Neue";
  font-weight: 100;
  font-style:italic;
  letter-spacing: 1.5px;

}
.listaEncapsulada li:hover, a:hover{
    background-color: azure;
    color: black;
}
.listaEncapsulada a {
    font-size: 20px;
}
.containerDiv{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 400px;
}
.FormInput{
    text-align: center;

    display: flex;
    gap: 50px;
    
    width: 50%;
    height: 2;
    flex-direction: column;
    color: white;
    background-color: rgb(5, 6, 45);
    justify-content: center;
    align-items: center;
    padding: 80px;
}
#NameUser{
    width: 50%;
    height: 25px;
}
#MsgUser{
    width: 100%;
    height: 80px;
}
.btnEnv{
    width: 110px;
    height: 40px;
    text-align: center;
}
.footerDiv{
    width: 100%;
    height: 300px;
    background-color: white;
    position: relative;
    top: 350px;
}
button {
    align-items: center;
    width: 250px;
    height: 50px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}
   
button:active,
   button:hover {
    outline: 0;
   }
   
   button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
   }
   
   button:hover span {
    background: none;
   }
   
   button:active {
    transform: scale(0.9);
   }


   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    font-family: "Bebas Neue";
    line-height: 1.6;
}
.nameHeader{
    position: absolute;

    left: 8vh;
    top: 10px;
}
.containerHeader{

    display: flex;
    position: absolute;
    width: 100%;
    height: 8vh;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    background: rgb(5, 6, 45);
    color: white;

}
.listaEncapsulada{
    display: flex;
    gap: 13px;
    list-style-type: none;
    text-decoration: none;
    position: absolute;
    right: 30px;
    color: white;
    box-shadow: rgba(151, 65, 252, 0.2) 15px 15px -10px -5px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    padding-left: 10px;
    padding-right: 10px;
}
.listaEncapsulada li {
    display: flex;
    width: 130px;
    justify-content: center;
    align-items: center;
    height: 8vh;
    gap: 10px;
    background: rgb(5, 6, 45);

}
.listaEncapsulada  a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: aliceblue;
    width: 130px;
    height: 8vh;
    padding: 10px;
    font-family: "Bebas Neue";
  font-weight: 100;
  font-style:italic;
  letter-spacing: 1.5px;

}
.listaEncapsulada li:hover, a:hover{
    background-color: azure;
    color: black;
}
.listaEncapsulada a {
    font-size: 20px;
}
.ContainerSection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    top: 150px;
}
.Topic{
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 35px;

}
.Topic h1{
    font-family: "Anton";
  font-weight: 900;
  font-style: normal;
} 

.containerDiv div{
    display: flex;
    align-items: center;
}
.containerDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 200px;
}
h4{
    color: red;
}
h3{
    color: green;
}
.divfooter{
    width: 100%;
    height: 40vh;
}
button {
    align-items: center;
    width: 250px;
    height: 50px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}
   
button:active,
   button:hover {
    outline: 0;
   }
   
   button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
   }
   
   button:hover span {
    background: none;
   }
   
   button:active {
    transform: scale(0.9);
   }
